@import "tailwindcss";

:root {
  --osrs-yellow: #FFCF3F;
  --osrs-gold: #E6A519;
  --osrs-brown: #694D23;
  --osrs-dark-brown: #382D1A;
  --osrs-black: #0F0F0F;
  --osrs-green: #00FF00;
  --osrs-red: #FF0000;
  --osrs-blue: #0088FF;
  --osrs-chat: #00FFFF;
  --osrs-background: #2E2C29;
  --osrs-border: #474745;
  --osrs-panel: #46433A;
}

.aspect-square:hover {
  /* outlineWidth: "2px",
                    outlineColor: "#000000" */
  /* outline: 2px solid var(--osrs-border); */
  /* outline-offset: 2px; */
}

.or {
  font-weight: bold;
  text-decoration: underline;
  color:white;
  font-style: italic;
  list-style-type: none;
}

.tile-icon {
  object-fit: contain;
  max-width: 64px;
  max-height: 64px;
  pointer-events: none;
}